
// Import fonts from Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Kalam|Oswald');

h1,
h2,
p {
    font-family: $serif;
    clear:both;
}

h3,
h4,
h5 {
    font-family: $sansserif;
    clear:both;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.article__meta {
    font-family: $comic;
    font-size: 1.25em;
}

.article__date {
    font-family: $comic;
    font-size: 1.25em;
}
